@{
    ViewData["Title"] = "Progreso";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<link rel="stylesheet" href="~/css/Cliente/Progreso.css" asp-append-version="true" />
<script src="~/js/Pages/Cliente/Progreso.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<div class="container">
    <div id="charts">
        <div id="imcChart"></div>
        <div id="igcChart"></div>
        <div id="pesoChart"></div>
    </div>
</div>
