<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layouts/LandingPage_Layout.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <script src="~/js/Pages/LandingPage/LandingPage.js" defer></script>
    <script src="~/js/site.js"></script>

    <title>@ViewData["Title"] Phoenix Fitness</title>

</head>
<body>
    <div class="page-container">
        <header>
            <nav class="navbar navbar-expand-md navbar-toggleable-sm box-shadow">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="LandingPage" asp-action="LandingPage">
                    <div id="logo-container" class="logo-container dynamic-text">
                        <img src="~/Images/logotransparente.png" alt="Phoenix Fitness Logo" class="logo-img d-inline-block align-top" />
                    </div>
                    <div class="gym-name dynamic-text">
                        <span class="gym-word">Phoenix Fitness</span>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end collapse-navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <button type="submit" id="logInBtn" class="btn btn-primary mb-3" onclick="location.href='@Url.Action("LogIn", "LandingPage")'">Iniciar Sesión</button>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary mb-3" id="signUpBtn" onclick="location.href='@Url.Action("CrearCuenta", "Cliente")'">Crear Cuenta</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container-fluid p-0">
            <main role="main" class="content-wrapper">
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-center">
            <div>
                &copy; 2024 - Phoenix Fitness <span>™</span>
            </div>
        </footer>

    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

