@{
    ViewData["Title"] = "Citas de Medición";
    Layout = "~/Views/Shared/_LayoutEntrenador.cshtml";
}

@model MVC.Models.CitaMedicionModel

<link rel="stylesheet" href="~/css/Entrenador/CitasMedicion.css" defer/>
<script src="~/js/Pages/Entrenador/CitasMedicion.js" defer></script>
<link rel="stylesheet" href="~/Calendario/evo-calendar/css/evo-calendar.css">
<script src="~/Calendario/evo-calendar/js/evo-calendar.js"></script>

<div class="main-container">
    <div id="evoCalendar" class="calendar-container"></div>

    <div class="form-container">
        <form id="formCliente">

        </form>
    </div>
</div>
