@{
    ViewData["Title"] = "Horario";
    Layout = "~/Views/Shared/_LayoutEntrenador.cshtml";
}

@model MVC.Models.HorarioEntrenadorPersonalModel

<link rel="stylesheet" href="~/css/Entrenador/HorarioEntrenadorPersonal.css" asp-append-version="true" />
<script src="~/js/Pages/Entrenador/HorarioEntrenadorPersonal.js" defer></script>
<link rel="stylesheet" href="~/Calendario/evo-calendar/css/evo-calendar.css">
<link rel="stylesheet" href="~/Calendario/evo-calendar/css/evo-calendar.orange-coral.css" />
<script src="~/Calendario/evo-calendar/js/evo-calendar.js"></script>

<div class="main-container">
    <div id="mainContent" class="content-container">
        <!-- Aca sale body segun el tipo de entrenador -->
    </div>
</div>


