@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutEntrenador.cshtml";
}

<link rel="stylesheet" href="~/css/Entrenador/IndexEntrenador.css" defer />
<script src="~/js/Pages/Index/Index.js" defer></script>

<div class="welcome-container">
    <h1 class="welcome-message">¡Hola, <span id="user-name"></span>!</h1>
    <div class="logo-container">
        <img src="~/Images/logotransparente.png" alt="Gym Logo" class="gym-logo">
    </div>
</div>